tqdm 
colorama

numpy
scipy
matplotlib
pandas

git+https://github.com/ParkhomenkoDV/decorators.git@master
git+https://github.com/ParkhomenkoDV/tools.git@master
git+https://github.com/ParkhomenkoDV/mathematics.git@master
git+https://github.com/ParkhomenkoDV/material.git@master
